@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes linkHover {
    0% {
        color: #20262e;
    }
    100% {
        color: #d94801;
    }
}

@keyframes linkNotHover {
    0% {
        color: #d94801;
    }
    100% {
        color: #20262e;
    }
}

@keyframes siteHover {
    0% {
        color: #cccbcb;
    }
    100% {
        color: #d94801;
    }
}

@keyframes siteNotHover {
    0% {
        color: #d94801;
    }
    100% {
        color: #cccbcb;
    }
}

@keyframes sliderWiggleMobile {
    0% {
        margin-top: 0;
    }
    16.6% {
        margin-top: 2vh;
    }
    33.2% {
        margin-top: 0;
    }
    49.8% {
        margin-top: 2vh;
    }
    66.4% {
        margin-top: 0;
    }
    83% {
        margin-top: 2vh;
    }
    100% {
        margin-top: 0;
    }
}