@import url('https://fonts.googleapis.com/css?family=Martel+Sans|Poppins&display=swap');

html {
    font-family: 'Martel Sans', sans-serif;
    overflow: hidden;
    height: 100%;
    font-weight: 200;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    text-align: center;
    background-color: #20262e;
    color: #cccbcb;
}

h1 {
    width: 95vw;
    font-size: calc(1.8em + 0.5vw);
}

h2 {
    font-size: calc(0.7em + 0.5vw);
}

#root {
    position: relative;
}

#map {
    width: 70vw;
}

.regions {
    stroke: none;
}

#tooltipBackground {
    position: absolute;
    background-color: #0b5164;
    border: 0.2vh solid #fff;
    border-radius: 0.7vh;
    color: #fff;
    font-size: calc(1.2em + 0.5vw);
}

#tooltipText {
    padding: 0 2vw;
    font-size: calc(0.8em + 0.5vw);
}

#legend {
    position: absolute;
    height: 40vh;
    width: 20vw;
    top: 5vh;
    right: 4vw;
}

.legendText {
    fill: #cccbcb;
    font-size: calc(0.2em + 0.5vw);
}

#legendLabel {
    position: absolute;
    top: 3vh;
    width: 10vw;
    right: 4vw;
    font-size: calc(1em + 0.5vw);
    animation: fadeIn 0.5s linear 1.5s 1 both;
}

#barChart {
    position: absolute;
    top: 20vh;
    left: 2vw;
    opacity: 0;
    padding: 1vh 1vw;
    width: 40vw;
    height: 17vh;
    background-color: #0b5164;
    border: 0.2vh solid #fff;
    border-radius: 0.7vh;
    color: #fff;
}

.barChartText {
    fill: #fff;
    Font-size: calc(0.9em + 0.5vw);
}

#sliderBox {
    padding: 1vh 1vw;
    border: 0.1vh solid #fff;
    border-radius: 1vh;
    width: 95vw;
    margin: 0 auto;
    animation: fadeIn 0.5s linear 2s 1 both;
}

#timeDisplay {
    font-size: calc(2em + 0.5vw);
    color: #CC4952;
}

#dateDisplay {
    font-size: calc(0.8em + 0.5vw);
}

#slider {
    -webkit-appearance: none;
    width: 80vw;
    height: 3vh;
    background: #cccbcb;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3vh;
    height: 3vh;
    background: #0b5164;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 3vh;
    height: 3vh;
    background: #0b5164;
    cursor: pointer;
}

footer {
    animation: fadeIn 1s linear 1s 1 both;
}

footer p {
    font-size: calc(1.3em + 0.5vw);
    margin: 2vh 5vw;
    width: 90vw;
}

#apiLink {
    color: #cccbcb;
}

.links {
    float: right;
    font-family: 'Poppins', sans-serif;
}

#homepage, #gitHub {
    margin: 1vh 2vw;
    font-size: calc(2.6em + 0.5vw);
    text-decoration: none;
    color: #0b5164;
}

