@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik&family=Poppins&display=swap');

html {
    font-family: 'Karla', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-weight: 200;
    font-size: 12px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: auto;
    text-align: center;
    background-color: #f1f1f1;
    color: #20262e;
}

header {
    text-align: right;
    width: 100vw;
    height: 12vh;
}

h1 {
    font-size: 3.2rem;
    font-family: 'Karla', sans-serif;
    background-color: #2171b5;
    color: #f7f7f7;
    padding: 1vh 2vw;
    width: 88vw;
    margin-left: 6vw;
    border-radius: 1vh 1vh 0 1vh;
}

h2 {
    font-size: 2.4rem;
    padding-right: 7vw;
}

#root {
    margin-top: 2vh;
    position: relative;
}

#map {
    width: 60vw;
}

.regions, .barChartData, .legendItem {
    stroke: #20262e;
    stroke-width: 0.5;
}

#tooltipBackground {
    position: absolute;
    background-color: #d94801;
    color: #fff;
    border-radius: 1vh 1vh 0 1vh;
}

#tooltipText {
    padding: 0 2vw;
    font-size: 2rem;
}

#legend {
    position: absolute;
    height: 35vh;
    width: 17.5vw;
    top: 5vh;
    right: 4vw;
}

.legendText {
    fill: #20262e;
    font-size: 0.7rem;
}

#legendLabel {
    position: absolute;
    top: 2vh;
    width: 10vw;
    right: 4vw;
    font-size: 1.9rem;
    animation: fadeIn 0.5s linear 1.5s 1 both;
}

#barChart {
    position: absolute;
    top: 20vh;
    left: 2vw;
    opacity: 0;
    padding: 1vh 1vw;
    width: 40vw;
    height: 19vh;
    background-color: #d94801;
    color: #fff;
    border-radius: 1vh 1vh 0 1vh;
}

.barChartText {
    fill: #fff;
    font-size: 1.6rem;
}

#sliderBox {
    padding: 1vh 1vw;
    font-size: 2.5rem;
    animation: fadeIn 0.5s linear 2s 1 both;
}

#dateDisplay {
    font-weight: 800;
}

#slider {
    -webkit-appearance: none;
    width: 80vw;
    height: 3vh;
    background: #c5c5c5;
    outline: none;
    opacity: 1;
    border-radius: 1vh 1vh 0 1vh;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3vh;
    height: 3vh;
    background: #d94801;
    cursor: pointer;
    border-radius: 1vh 1vh 0 1vh;
}

#slider::-moz-range-thumb {
    width: 3vh;
    height: 3vh;
    background: #d94801;
    cursor: pointer;
    border-radius: 1vh 1vh 0 1vh;
}

footer {
    animation: fadeIn 0.5s linear 2s 1 both;
    font-size: 2rem;
    margin: 2vh 5vw;
    width: 90vw;
}

#apiLink {
    color: #cccbcb;
}

.links {
    float: right;
    font-family: 'Poppins', sans-serif;
    padding-right: 2vw;
}

#homepage, #gitHub {
    margin: 1vh 2vw;
    font-size: calc(2.6rem + 0.5vw);
    text-decoration: none;
    color: #707070;
}