@media (min-width: 1024px) {
    /* For desktop */
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    header {
        height: 19vh;
    }

    #map {
        height: 54vh;
        float: left;
        margin: 2vh 0 0 20vw;
    }

    #tooltipText {
        font-size: 1.2rem;
    }

    #legend {
        height: 30vh;
        width: 10vw;
        top: 16vh;
        left: 14vw;
    }

    .legendText {
        font-size: 0.7rem;
    }

    #legendLabel {
        top: 13vh;
        left: 14vw;
        font-size: 1.2rem;
    }

    #barChart {
        width: 32vw;
        height: 43vh;
        top: 7vh;
        left: 62vw;
        border: none;
        background: none;
    }

    .barChartText {
        font-size: 1rem;
    }

    #sliderBox {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50vw;
        margin: 0;
        padding: 0;
        height: 15vh;
        font-size: 1.3rem;
    }
    
    #sliderBox p {
        margin-top: -1vh;
    }

    #slider {
        width: 35vw;
        height: 2.5vh;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        margin-top: 2vh;
    }
    
    #slider:hover {
        opacity: 1;
    }
    
    #slider::-webkit-slider-thumb {
        width: 2.5vh;
        height: 2.5vh;
    }
    
    #slider::-moz-range-thumb {
        width: 2.5vh;
        height: 2.5vh;
    }

    footer {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1.5rem;
        width: 50vw;
        margin: 0;
        height: 15vh;
        background-color: #008080;
        border-top: 0.2vh solid #fff;
        border-bottom: 0.2vh solid #fff;
    }

    footer p {
        float: right;
        margin-right: 2vw;
    }

    #apiLink:hover {
        animation: linkHover 1s linear 0s 1 both;
    }
    
    #apiLink:not(:hover) {
        animation: linkNotHover 1s linear 0s 1 both;
    }

    #homepage, #gitHub {
        font-size: 2rem;
    }

    #homepage:hover, #gitHub:hover {
        animation: siteHover 1s linear 0s 1 both;
    }
    
    #homepage:not(:hover), #gitHub:not(:hover) {
        animation: siteNotHover 1s linear 0s 1 both;
    }
}