@media (min-width: 1024px) {
    /* For desktop, etc. */
    h1 {
        font-size: 3rem;
        width: 58vw;
        margin-left: 38vw;
    }

    .subHeading {
        font-size: 1.5rem;
    }

    header {
        height: 19vh;
    }

    #map {
        height: 54vh;
        float: left;
        margin-left: 20vw;
    }

    #tooltipText {
        font-size: 1.2rem;
    }

    #legend {
        height: 30vh;
        width: 10vw;
        top: 16vh;
        left: 14vw;
    }

    .legendText {
        font-size: 0.7rem;
    }

    #legendLabel {
        top: 13vh;
        left: 14vw;
        font-size: 1.2rem;
    }

    #dataDetail {
        top: 22vh;
        left: 70vw;
        width: 15vw;
        background: none;
        border: 2px solid #d94801;
    }

    .dataDetailTitle {
        width: 15vw;
        font-size: calc(0.8em + 0.5vw);
    }

    .dataDetailContent {
        font-size: calc(0.9em + 0.5vw);
    }

    #sliderBox {
        position: absolute;
        bottom: 2vh;
        left: 5vw;
        width: 45vw;
        margin: 0;
        padding: 0;
        height: 15vh;
        font-size: 1.3rem;
    }

    #slider {
        width: 20vw;
        height: 2.5vh;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        margin-top: 0vh;
    }
    
    #slider:hover {
        opacity: 1;
    }
    
    #slider::-webkit-slider-thumb {
        width: 2.5vh;
        height: 2.5vh;
    }
    
    #slider::-moz-range-thumb {
        width: 2.5vh;
        height: 2.5vh;
    }

    #timeDisplay {
        width: 15vw;
        margin-left: 15vw;
    }

    footer {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1.5rem;
        width: 50vw;
        margin: 0;
        height: 15vh;
    }

    footer p {
        text-align: center;
    }

    #apiLink:hover {
        animation: linkHover 1s linear 0s 1 both;
    }
    
    #apiLink:not(:hover) {
        animation: linkNotHover 1s linear 0s 1 both;
    }

    #homepage, #gitHub {
        font-size: 2rem;
    }

    #homepage:hover, #gitHub:hover {
        animation: siteHover 1s linear 0s 1 both;
    }
    
    #homepage:not(:hover), #gitHub:not(:hover) {
        animation: siteNotHover 1s linear 0s 1 both;
    }
}