@media (min-width: 1024px) {
    /* For desktop */
    h1 {
        font-size: calc(1.4em + 0.5vw);
    }

    #map {
        width: 30vw;
        float: left;
        margin: 2vh 0 0 10vw;
    }

    #tooltipBackground {
        font-size: calc(0.6em + 0.5vw);
    }

    #tooltipText {
        font-size: calc(0.5em + 0.5vw);
    }

    #legend {
        height: 30vh;
        width: 10vw;
        top: 16vh;
        left: 4vw;
    }

    .legendText {
        font-size: calc(0.1em + 0.5vw);
    }

    #legendLabel {
        top: 13vh;
        left: 4vw;
        font-size: calc(0.5em + 0.5vw);
    }

    #barChart {
        width: 28vw;
        height: 32vh;
        padding: 2vh 1vw;
        top: 30vh;
        left: 64vw;
    }

    .barChartText {
        Font-size: calc(0.4em + 0.5vw);
    }

    #sliderBox {
        position: absolute;
        top: 5vh;
        left: 55vw;
        width: 40vw;
    }

    #timeDisplay {
        font-size: calc(0.8em + 0.5vw);
    }
    
    #dateDisplay {
        font-size: calc(0.6em + 0.5vw);
    }

    #slider {
        -webkit-appearance: none;
        width: 35vw;
        height: 2.5vh;
        background: #cccbcb;
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
    }
    
    #slider:hover {
        opacity: 1;
    }
    
    #slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 2.5vh;
        height: 2.5vh;
        background: #0b5164;
        cursor: pointer;
    }
    
    #slider::-moz-range-thumb {
        width: 2.5vh;
        height: 2.5vh;
        background: #0b5164;
        cursor: pointer;
    }

    footer {
        position: absolute;
        bottom: 2vh;
    }

    footer p {
        font-size: calc(0.7em + 0.5vw);
    }

    #apiLink:hover {
        animation: linkHover 1s linear 0s 1 both;
    }
    
    #apiLink:not(:hover) {
        animation: linkNotHover 1s linear 0s 1 both;
    }

    #homepage, #gitHub {
        font-size: calc(1.1em + 0.5vw);
    }

    #homepage:hover, #gitHub:hover {
        animation: siteHover 1s linear 0s 1 both;
    }
    
    #homepage:not(:hover), #gitHub:not(:hover) {
        animation: siteNotHover 1s linear 0s 1 both;
    }
}

@media (min-width: 1400px) {
    /* For retina desktop, etc. */
    #map {
        width: 25vw;
    }

    .legendText {
        font-size: calc(0.1em + 0.4vw);
    }
}