@import url('https://fonts.googleapis.com/css?family=Martel+Sans|Poppins&display=swap');

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes linkHover {
    0% {
        color: #cccbcb;
    }
    100% {
        color: #CC4952;
    }
}

@keyframes linkNotHover {
    0% {
        color: #CC4952;
    }
    100% {
        color: #cccbcb;
    }
}

@keyframes siteHover {
    0% {
        color: #0b5164;
    }
    100% {
        color: #CC4952;
    }
}

@keyframes siteNotHover {
    0% {
        color: #CC4952;
    }
    100% {
        color: #0b5164;
    }
}

html {
    font-family: 'Martel Sans', sans-serif;
    overflow: hidden;
    height: 100%;
    font-weight: 200;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    text-align: center;
    background-color: #20262e;
    color: #cccbcb;
}

#links {
    animation: fadeIn 1s linear 1s 1 both;
}

#homepage, #gitHub {
    position: absolute;
    top: 2vh;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #0b5164;
}

#homepage:hover, #gitHub:hover {
    animation: siteHover 1s linear 0s 1 both;
}

#homepage:not(:hover), #gitHub:not(:hover) {
    animation: siteNotHover 1s linear 0s 1 both;
}

#homepage {
    left: 2vw;
    font-size: calc(0.8em + 0.5vw);
}

#gitHub {
    right: 2vw;
    font-size: calc(1.2em + 0.5vw);
}

h1 {
    margin: 5vh auto 2vh;
    width: 60vw;
    font-size: calc(1.3em + 0.5vw);
}

#tooltipBackground {
    position: absolute;
    background-color: #0b5164;
    border: 0.2vh solid white;
    border-radius: 0.7vh;
    color: white;
    font-size: calc(0.6em + 0.5vw);
}

#tooltipText {
    padding: 0 2vw;
}

#legend {
    position: absolute;
    height: 30vh;
    width: 10vw;
    top: 20vh;
    right: 8vw;
}

.legendText {
    fill: #cccbcb;
    font-size: calc(0.1em + 0.5vw);
}

#legendLabel {
    position: absolute;
    top: 16vh;
    width: 10vw;
    right: 8vw;
    animation: fadeIn 0.5s linear 1.5s 1 both;
}

.regions {
    stroke: none;
}

#sliderBox {
    position: absolute;
    top: 20vh;
    left: 5vw;
    padding: 1vh 1vw;
    font-size: calc(0.6em + 0.5vw);
    animation: fadeIn 0.5s linear 2s 1 both;
}

#slider {
    -webkit-appearance: none;
    width: 20vw;
    height: 2.5vh;
    background: #cccbcb;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 0.1vh solid #20262e;
    width: 2.5vh;
    height: 2.5vh;
    background: #0b5164;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    border: 0.1vh solid #20262e;
    width: 2.5vh;
    height: 2.5vh;
    background: #0b5164;
    cursor: pointer;
}

#barChart {
    position: absolute;
    bottom: 2vh;
    left: 2vw;
    opacity: 0;
    width: 40vw;
    height: 40vh;
}

footer {
    position: absolute;
    bottom: 0;
    right: 5vw;
    animation: fadeIn 1s linear 1s 1 both;
}

footer a {
    text-decoration: none;
    color: #cccbcb;
}

footer a:hover {
    animation: linkHover 1s linear 0s 1 both;
}

footer a:not(:hover) {
    animation: linkNotHover 1s linear 0s 1 both;
}