@import url('https://fonts.googleapis.com/css?family=Oswald|Poppins&display=swap');

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes linkHover {
    0% {
        color: #cccbcb;
    }
    100% {
        color: #2b8cbe;
    }
}

@keyframes linkNotHover {
    0% {
        color: #2b8cbe;
    }
    100% {
        color: #cccbcb;
    }
}

html {
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    height: 100%;
    font-weight: 200;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    text-align: center;
    background-color: #20262e;
    color: #cccbcb;
}

h1 {
    font-size: calc(1.5em + 0.5vw);
}

h2 {
    font-size: calc(1em + 0.5vw);
}

#tooltipBackground {
    position: absolute;
    background-color: #0b5164;
    border: 0.2vh solid white;
    border-radius: 0.7vh;
    color: white;
}

#tooltipText {
    padding: 0 2vw;
}

#legend {
    position: absolute;
    height: 30vh;
    width: 10vw;
    top: 20vh;
    right: 0vw;
}

.legendText {
    fill: #cccbcb;
    font-size: calc(0.2em + 0.5vw);
}

#legendLabel {
    position: absolute;
    top: 16vh;
    width: 10vw;
    right: 0vw;
    animation: fadeIn 0.5s linear 1.5s 1 both;
}

.regions {
    stroke: none;
}